{
  "extends": "../.eslintrc",
  "rules": {
    "no-invalid-this": "off",
    "no-inner-declarations": "off",
    "no-prototype-builtins": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "no-await-in-loop": "off",
    "require-await": "off"
  }
}
