---
Checks:
  "*, -abseil-*, -altera-*, -android-*, -fuchsia-*, google-*,
  -google-runtime-int, -llvm*, -modernize-use-trailing-return-type, -zircon-*,
  readability-else-after-return, readability-static-accessed-through-instance,
  readability-avoid-const-params-in-decls,
  cppcoreguidelines-non-private-member-variables-in-classes,
  misc-non-private-member-variables-in-classes,
  -*-non-private-member-variables-in-classes,-misc-include-cleaner"
WarningsAsErrors: ""
HeaderFilterRegex: ""
FormatStyle: none
