{
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "require-await": "off"
  },
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": [
    "node_modules/",
    "build/",
    "lib/",
    "tmp/",
    "v5-compat.d.ts",
    "draft.d.ts",
    "script/*.js",
    "script/*.d.ts",
    "docs/",
    "docs-raw/"
  ]
}