/build
/docs
/lib
/tmp
node_modules
yarn.lock
yarn-error.log
package-lock.json
lib/binary/*.node
lib/binary/napi-v*/*.node
build-tmp-napi-v*
/prebuilds
test.js
.cache/
test/typings-compatibility/
/script/*.js
/script/*.d.ts
/script/*/*.js
/script/*/*.d.ts
tsconfig.tsbuildinfo
