*.swp
*.swo
*.o
build
*.lock*
binding.node
examples/stress-test-client
node_modules
Makefile.gyp
binding.Makefile
binding.target.gyp.mk
npm-debug.log
gyp-mac-tool
out/
zmq
docs

npm-debug.log
prebuilds
zmq-build.log
windows/lib/libzmq.lib

# Coverage directory used by tools like istanbul
coverage
.nyc_output
coverage.lcov
