/build
/docs
/lib
/tmp
node_modules
yarn.lock
yarn-error.log
package-lock.json
lib/binary/*.node
lib/binary/napi-v*/*.node
build-tmp-napi-v*
/prebuilds
test.js
.cache/
test/typings-compatibility/
/script/*.js
/script/*.mjs
/script/*.d.ts
/script/*.d.mts
/script/*.js.map
/script/*.mjs.map
/script/*/*.js
/script/*/*.mjs
/script/*/*.d.ts
/script/*/*.js.map
tsconfig.tsbuildinfo
tsconfig.esm.tsbuildinfo
/docs-raw
.DS_Store
.idea
