environment:
  GITHUB_TOKEN:
    secure: E1HpiZf9OJuc8XPGA57hJbCQlMWVCPVBePHiWF/BgmJ/+e/2OplyifiS/x8CJtcw
  matrix:
    - nodejs_version: "4"
      deploy: "true"
    - nodejs_version: "6"
      electron: "1.4.10"

platform:
  - x64
  - x86

build: off

install:
  - ps: Install-Product node $env:nodejs_version $env:platform
  - IF DEFINED ELECTRON (npm install electron@%ELECTRON%)
  - IF DEFINED ELECTRON (npm install --runtime=electron --target=%ELECTRON% --disturl=https://atom.io/download/electron) ELSE (npm install)


test_script:
  - IF DEFINED ELECTRON (appveyor-retry call npm run test:electron) ELSE (appveyor-retry call npm test)

deploy_script:
  - IF "%deploy%;%appveyor_repo_tag%"=="true;true" (node_modules\.bin\prebuild --all --strip -u %GITHUB_TOKEN%)

notifications:
  - provider: Slack
    auth_token:
      secure: q6/gXUGl67pHWThEVtLaKpkxP2vIr5pzHT0FuUCRN5ZI9gBZdROM+OXUnBiyNodJLAC9tg8w4uccXFFoMgQYok4/8nJ9QKjq92mhEuShDEA=
    channel: '#zmq-prebuilt'
